
my-app/package-lock.json
my-app/package.json
my-app/public/favicon.ico
my-app/public/index.html
my-app/public/logo192.png
my-app/public/logo512.png
my-app/public/manifest.json
my-app/public/robots.txt
my-app/README.md
my-app/src/App.js
my-app/src/index.css
my-app/src/index.js
my-app/src/ninjas.js
my-app/src/serviceWorker.js
app/node_modules